:root {
  --color-gray-1: hwb(0 98% 2%);
  --color-gray-2: hwb(0 93% 7%);
  --color-gray-3: hwb(0 88% 12%);
  --color-gray-4: hwb(0 74% 26%);
  --color-gray-5: hwb(0 62% 38%);
  --color-gray-6: hwb(0 46% 54%);
  --color-gray-7: hwb(0 38% 62%);
  --color-gray-8: hwb(0 26% 74%);
  --color-gray-9: hwb(0 13% 87%);

  /* hsl vs hsv/hsb */
  --color-nav-primary-bg: hwb(0deg 100% 0%);
  --color-nav-primary-bg: var(--color-gray-1);
  --color-body-bg: hwb(240deg 20% 70.2%);
  --color-body-fg: hwb(0deg 100% 0%);

  --space-8: 8px;
  --nav-primary-height: 40px;
  --main-padding: var(--space-8);
}

body {
  background-color: var(--color-body-bg);
  color: var(--color-body-fg);
  font-family: Gordita, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  margin: 0;
  overflow-y: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0 var(--main-padding);
}

div,
nav,
main,
canvas {
  box-sizing: border-box;
}

nav {
  background-color: var(--color-nav-primary-bg);
  display: flex;
  align-items: center;
  gap: var(--space-8);
  padding: 0 var(--space-8);
  height: var(--nav-primary-height);
}

main {
}
