---
import PocketBase from 'pocketbase'
import Layout from '../layouts/Layout.astro'
import { SESSION_COOKIE_EXP_KEY, SESSION_COOKIE_KEY } from '../config'

if (Astro.request.method === 'POST') {
  try {
    const data = await Astro.request.formData()

    const pb = new PocketBase('http://127.0.0.1:8090')
    // pb.authStore.clear() // may not be necessary on server?

    const email = (data.get('email') ?? '') as string
    const password = (data.get('password') ?? '') as string

    await pb.collection('users').authWithPassword(email, password)

    const cookie = pb.authStore.exportToCookie()

    const [, session = '', expiresStr = ''] =
      /^pb_auth=(.*?);.*?Expires=(.*?);/.exec(decodeURIComponent(cookie)) ?? []

    const cookieCommon = {
      sameSite: 'strict',
      secure: true,
      expires: new Date(expiresStr),
    } as const

    Astro.cookies.set(SESSION_COOKIE_KEY, session, cookieCommon)

    Astro.cookies.set(
      SESSION_COOKIE_EXP_KEY,
      String(cookieCommon.expires.valueOf()),
      {
        ...cookieCommon,
        httpOnly: true,
      },
    )

    return Astro.redirect('/')
  } catch (err) {
    console.error(err)
    Astro.cookies.delete(SESSION_COOKIE_KEY)
    Astro.cookies.delete(SESSION_COOKIE_EXP_KEY)
  }
}
---

<Layout title="Gradebooks | GradeGrid">
  <form method="POST">
    <label>Email</label>
    <input name="email" type="email" autofocus />
    <label>Password</label>
    <input name="password" type="password" />
    <button>Sign In</button>
  </form>
</Layout>

<style>
  form {
    display: grid;
  }
</style>
